--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1 ; python_version < "3.13"
torch==2.8.0+cpu ; python_version >= "3.13"

flask
flask-cors
numpy
torch
sentence-transformers
python-dotenv
gunicorn
httpx